<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: MidnightBlue;
}

.topnav a {
  float: left;
  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 64px;
}
  
  .topnav b {
  float: right;
  color: Orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: none;
  color: Black;
}

.topnav a.active {
  background-color: #ddd;
  color: white;
}
.topnav b:hover {
  background-color: Orange;
  color: black;
}

.topnav b.active {
  background-color: #4CAF50;
  color: white;
}  
 

div.container {
    width: 100%;
       padding: 3em;
    border: 0px solid gray;
}

nav {
    float: left;
    max-width: 300px;
    margin: 0;
    padding: 0em;
  border: 0px solid gray;
  background: Ghostwhite;
  background-color: rgba(0,0,0,0);
}

article {
 	float: right;
      max-width: 700px;
    border-left: 0px solid gray;
    padding-top: 3em;
    padding-right: 5em;
    overflow: hidden;
    background: Ghostwhite;
  background-color: rgba(0,0,0,0);
}  
  
  
</style>
</head>
<body background="https://52walks.files.wordpress.com/2012/10/20121027_151312.jpg">
  
<div class="topnav">
  <a href="#home" style="color: Orange; font-family: Impact, Charcoal, sans-serif;">MillsFit</a>
  <b href="#login">Log in</b>
  <b href="#register">Register</b>
  <b href="#about">About</b>
</div>

  <marquee style="color: White; font-size: 30px; font-family: TimesNewRoman; background: Aquamarine; background-color: rgba(0,0,100,.5); " behavior="scroll" direction="left">The site for the active Mills student! Log in to post your first workout! </marquee>

<div class="container"> 
<nav>
<p style ="background: Midnightblue; color: White; font:Courier New, Courier, monospace; font-size: 40px; border:10px solid Orange; border-style: inset; background-color: rgba(0,0,0, .6);">A description of the website and its basic uses, maybe how to sign up and what is available when you do.</p>
</nav>

<article >
<div style="border-style: outset;height:200px;width:520px;border:20px solid Orange;font:16px/px Georgia, Garamond, Serif;border-style: inset;overflow:auto; background: White;" class="pull-right">
    <p1 style="color: White; border:50px; font-size: 32px; font-family: Comic Sans MS, cursive, sans-serif; background: Aquamarine; background-color: rgba(100,100,100, .9);">Users public posts:</p1>
  <div style="width:450px; float:left; border:10px solid White;">Once we have some users we will have some examples of public posts for people that have posted workout. This is a scrolling box, once there is enough text that cannot fit all in the basic space.</div>
</div> 
</article>

</div>
   
</body>
</html>
